RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1_-RU25nDGqvJ-mTTH5xMyGi3-5jSZb4K",
          "mode": "list",
          "cachedResultName": "Base de datos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_-RU25nDGqvJ-mTTH5xMyGi3-5jSZb4K"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "42c5c874-11ae-482d-9e6b-2c59b7133fa2",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        540,
        240
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DW4nlq9XTtihYlmt",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "26173dcc-cd4e-4772-b07c-be0db60ea9f2",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        760,
        240
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DW4nlq9XTtihYlmt",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "4ac624b8-1c50-43bd-ac3f-462cf5b08f5e",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        980,
        460
      ],
      "credentials": {
        "openAiApi": {
          "id": "BbBaCfneVfJCTqPX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "File",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "id": "fb89b6ef-0dff-4df2-b2d9-5c3aa9973f9b",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1180,
        460
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "id": "229870fd-279a-4510-90c7-c1c17666bd23",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1180,
        620
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "02d85a19-9e4b-40f7-b67d-6aff6add9f4a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        580,
        -80
      ],
      "credentials": {
        "openAiApi": {
          "id": "BbBaCfneVfJCTqPX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "99b5dcd1-285f-41ed-ae06-7c3ea63992b9",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        700,
        -140
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "5f4ab214-0db6-4c9c-a5fb-08f07d77df91",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1000,
        20
      ],
      "credentials": {
        "openAiApi": {
          "id": "BbBaCfneVfJCTqPX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "hablar_con_documentos",
        "description": "Devuelve informacion relacionada con los documentos de la base de datos"
      },
      "id": "bcec9284-fdf4-4c04-b72d-828364843d33",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1040,
        -280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5ec2e8ba-f776-41f0-a44c-1effca0cae07",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1140,
        -160
      ],
      "credentials": {
        "openAiApi": {
          "id": "BbBaCfneVfJCTqPX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "agenteventas",
          "mode": "list",
          "cachedResultName": "agenteventas"
        },
        "options": {
          "pineconeNamespace": "data"
        }
      },
      "id": "c3509b42-8488-4e71-b959-190df31c74d7",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        980,
        240
      ],
      "credentials": {
        "pineconeApi": {
          "id": "rb72ECXZRWqedevE",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "agenteventas",
          "mode": "list",
          "cachedResultName": "agenteventas"
        },
        "options": {
          "pineconeNamespace": "Oak & Barrel"
        }
      },
      "id": "2f1da256-f4c8-4bda-8a4f-71405e436271",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        900,
        -160
      ],
      "credentials": {
        "pineconeApi": {
          "id": "rb72ECXZRWqedevE",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "56c82ecf-36e4-467c-a00e-e522cd011d3e",
        "options": {}
      },
      "id": "06b18778-8a9d-4efb-8093-0c0cbecb0d6f",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        -440
      ],
      "webhookId": "56c82ecf-36e4-467c-a00e-e522cd011d3e"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres un asistente de texto, para nacho leo. Debes tener un tono formal y elegante. \n\nSiempre debes dar la respuesta si la sabes, si no es asi, solo di no lo se\n\nSiempre debes usar la funcion hablar_con_documentos Para extraer informacion de los documentos.\n\nSi no existe informacion en esos documentos devuelve 1\n\nNunca des una respuesta por ti mismo siempre usa la base de datos"
        }
      },
      "id": "80dd3c25-6d7c-4bf4-845f-10b4b2262133",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        600,
        -460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fec84a7-0063-4215-9c94-ef4767530863",
              "leftValue": "={{ $json.output }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6005a517-43a0-4f79-b7e6-ae84c751a931",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        -440
      ]
    },
    {
      "parameters": {},
      "id": "ea71fa4c-084d-4cbb-9007-d6e85b4a9d3c",
      "name": "Zep",
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.2,
      "position": [
        1820,
        -300
      ],
      "credentials": {
        "zepApi": {
          "id": "JZWrFdVB9QVucWzF",
          "name": "Zep Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_F27zFuZ35AYfT3MnITD4b9hf",
          "mode": "list",
          "cachedResultName": "Vendedor"
        },
        "prompt": "=# Instrucciones Detalladas\n\n- **Asesoramiento Completo:** Comprende bien la pregunta o mensaje del cliente e intenta responder a fondo, considerando su perfil único, situación económica y necesidades personales. Contextualiza cada respuesta para mostrarles que comprendes su situación.\n- **Base de Datos Referencial:** Usa la información disponible en la base de datos del negocio para asegurarte de no proporcionar información incorrecta. Esto es esencial para mantener la precisión y credibilidad de nuestras respuestas.\n- **Fortalecer la Relación:** Intenta educar y familiarizar a los clientes acerca de cómo nosotros podemos ser una solución a sus problemas. Utiliza un lenguaje cercano y cálido que inspire confianza.\n  \n# Estilo de Conversación\n\n- **Tono Informal y Familiar:** Utiliza un estilo que sea informal, relajado, y con sabor argentino. Puedes usar \"bro\", \"hermano\", \"amigo\", u otras expresiones similares. Las respuestas deben sonar como si vinieran de un vendedor argentino profesional y cercano.\n- **Sin Formalismos Ni Rigidez:** No uses puntuación estricta ni caracteres como signos de exclamación o comillas. El objetivo es sonar lo más humano posible; nada de respuestas con un tono robótico.\n- **Adecuación a cada cliente:** Cada mensaje debe ser exclusivo para el interlocutor. No te apoyes en generalizaciones ni respuestas automáticas.\n\n# Ejemplos de Mensajes\n\n- **Ejemplo 1:**\n  **Input del cliente:** \"Hola, estoy interesado en saber cómo funciona esto de comprar un auto con ustedes. Nunca compré un auto antes, me complica un poco la idea.\"\n  \n  **Respuesta esperada:** \"Hey amigo, tranqui, entiendo que la primera vez siempre parece un lío, pero te voy a explicar. Con nosotros es súper fácil. Primero te vemos para saber qué onda con tu situación actual; cuánto podés pagar por mes, qué tipo de auto necesitas, y todo eso. Vamos juntándonos con la info y en base a eso te armamos un plan que te quede cómodo para que llegues a tu auto sin dramas. Para vos, todo lo que tengas dudas yo te las saco siempre.\"\n\n- **Ejemplo 2:**\n  **Input del cliente:** \"Tengo ingresos irregulares porque soy freelancer, ¿eso es un problema para acceder a los planes de financiación?\"\n  \n  **Respuesta esperada:** \"Tranquilo bro, no sos el único en esa situación. Muchos de nuestros clientes están igual y tenemos formas de trabajar en eso. La idea es adaptar el plan para que se ajuste a lo que tenés, aunque no sea un ingreso fijo todos los meses. Hacemos algo bien a medida porque la posta es que logres financiarte sin matar el bolsillo. Si querés, empezamos charlando un poco más de cuánto podés destinar al auto y vemos qué opciones te quedan cómodas.\"\n\n# Output Format\n\nProporciona respuestas detalladas, cálidas y cercanas, asegurándote de incluir información relevante a partir de la base de datos del negocio. Adapta el tono para que sea amistoso y personalizado para cada cliente. Responde siempre de manera directa y evita mensajes genéricos, enfocándote en el contexto y necesidades del cliente.\n\n\nIMPORTANTE\n\n- **SIEMPRE DEBES** tener en cuenta el historial de conversaciones para brindar respuestas personalizadas\n-**UTILIZA A FAVOR** debes utilizar a tu favor el motivo por el que quiere tomar acción el cliente. **apalancate** de este motivo para impulsar al cliente\n**Si Y SOLO SI** No encontraste informacion sobre la pregunta en la base de datos, puedes generar una respuesta, para responder la duda del cliente. LA respuesta tiene que tener sentido\n**NUNCA** digas segun la informacion proporcionada, o frases por el estilo, estas en una conversacion, **DEBES** responder como una conversacion\n\n\n\n HISTORIAL DE CONVERSACIÓN:\n\n<historial-de-conversaciones>\n\n\n \n\nPregunta del usuario:\n\n\n \n",
        "options": {}
      },
      "id": "050fc323-9c0d-4160-9d3a-ec1924ac00a7",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1640,
        -460
      ],
      "credentials": {
        "openAiApi": {
          "id": "BbBaCfneVfJCTqPX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"{{ $json.message.content }}\"\n}",
        "options": {}
      },
      "id": "ef7f2a8d-7f1d-44ec-b792-84bfa7651a51",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1380,
        -640
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Actúa como un especialista en ventas en el rubro automotor con más de 100 ventas en los últimos años. Tu tarea es analizar la objeción del cliente y dirigirlo, con habilidad y persuasión, un paso más cerca de la venta.\n\nUtiliza una jerga argentina informal, dirigiéndote al cliente de manera amigable y casual. Emplea términos como \"hermano\", \"amigo\", \"bro\" para reforzar el vínculo con el cliente. Sé directo pero siempre educado, mantén un balance entre ser amistoso y ser un profesional de ventas confiable.\n\n\n# Jerga y Tono\n\nVocabulario y elección de palabras:\n\n1. **Vocabulario y elección de palabras**:\n   - El escritor utiliza un vocabulario informal y coloquial, con frases largas y a menudo carece de puntuación adecuada. Esto puede dificultar la comprensión del texto.\n   - La frecuencia y diversidad del vocabulario son limitadas; se repiten ciertas palabras y conceptos, lo que resulta en una falta de variedad.\n   - Se observa una combinación de jerga relacionada con el mundo del comercio (ej. \"dropshipping\", \"financiación\", \"créditos\"), que puede no ser entendida por todos los lectores.\n   - El autor prefiere palabras simples y directas, utilizando un lenguaje accesible en muchos momentos, aunque a menudo se mezcla con términos más técnicos.\n   - La elección de palabras distintivas, como \"dropshipping\", \"landing page\", y \"Homebanking\", indica un esfuerzo por comunicar conceptos específicos de negocios.\n   - El texto requiere un nivel medio de edad lectora, tal vez adecuado para jóvenes adultos y adultos, ya que se manejan conceptos de emprendimiento y finanzas que pueden ser desconocidos para lectores más jóvenes o sin formación en esos temas.\n\nPatrones gramaticales\n\n1. **Patrones gramaticales**\n\n   - **Voz Pasiva**: El texto no utiliza voz pasiva, lo cual es característico de un estilo más directo y activo, reflejando un enfoque personal en la narración.\n   - **Tiempos Verbales**: Predomina el uso del presente, sugiriendo acciones habituales y estados actuales. Hay algunos usos del futuro, pero no existe una alternancia clara entre tiempos verbales que genere incoherencia.\n   - **Sustantivos y Pronombres**: El texto emplea mayoritariamente sustantivos en plural al referirse a grupos (e.g., \"personas\", \"autos\") y utiliza pronombres personales para mantener el enfoque en el hablante (e.g., \"yo\", \"nosotros\").\n   - **Errores Gramaticales**: Hay una notable ausencia de puntuación, lo que causa que el texto sea extremadamente extenso y difícil de seguir. También se observa la omisión de conectores necesarios para la fluidez, lo cual puede generar confusión en la interpretación.\n\n2. **Errores Recurrentes**\n   \n   - **Puntuación Inadecuada**: El texto carece de comas y puntos, lo que lo convierte en un bloque de texto. Esto genera frases extremadamente largas y hace que el contenido sea difícil de procesar.\n   - **Estructura de Oraciones**: La construcción de oraciones es a menudo confusa, con múltiples ideas y conceptos mezclados en la misma oración sin separación clara. Esto dificulta la comprensión del mensaje.\n   - **Cohesión y Coherencia**: La falta de conectores y la estructura a veces desorganizada causan una falta de coherencia. El lector puede perder el hilo de la narrativa o de la argumentación presentada.\n\npuntuacion:\n\n1. **Uso de comas y puntos**:\n   - **Instrucción**: Al escribir, utilice comas para separar ideas o elementos relacionados dentro de una oración, pero evite abusar de ellas. Por ejemplo, \"Estoy disfrutando el día, aprendiendo cosas nuevas, y trabajando en mis proyectos.\" En contraste, evite oraciones excesivamente largas y sin comas como \"Estoydisfrutandolodíasapientetodoestájugandofinancieramenteyvoyacumplirlosobjetivos\".\n   - **Ejemplo bueno**: \"Hoy estoy contento, porque tengo muchas cosas que hacer y aprender.\"\n   - **Ejemplo malo**: \"Estoyhaciendodropshippingdemaneraintensivayestoyinvirtiendoendiferentespropiedadesynegociosquévaapasarconlasgrandesmarcasquépasaconlaagenciadeautolacerramos.\"\n\n2. **Uso de punto y coma**:\n   - **Instrucción**: Cuando se conectan ideas relacionadas de manera más fuerte que con una coma, utilice punto y coma para dividir oraciones. Ejemplo: \"Quiero crecer profesionalmente; debo enfocarme en mis objetivos.\"\n   - **Ejemplo bueno**: \"He estado trabajando duro; los resultados llegarán pronto.\"\n   - **Ejemplo malo**: \"Estoydesarrollándomeacadadíaestoesunproceso.\"\n\n3. **Uso de guiones**:\n   - **Instrucción**: Los guiones deben utilizarse para crear pausas dramáticas o explicar algo adicional. Por ejemplo, \"Mi objetivo es claro - quiero crecer este año.\"\n   - **Ejemplo bueno**: \"Voy a trabajar en mis metas - y no me detendré hasta alcanzarlas.\"\n   - **Ejemplo malo**: \"Voyatrabajandoylargeometríasyaestamosfrentealresultado.\"\n\n4. **Uso de paréntesis**:\n   - **Instrucción**: Los paréntesis pueden ser utilizados para añadir información adicional que no interrumpe el flujo principal de la oración. Ejemplo: \"Estoy aprendiendo sobre finanzas (lo cual es crucial en este momento).\"\n   - **Ejemplo bueno**: \"Mi objetivo (y el de mi equipo) es mejorar cada día.\"\n   - **Ejemplo malo**: \"He estudiado (aunque no siempre lo suficiente) y, aunque no tengo experiencias previas, estoy listo.\"\n\n5. **Preferencias de signos de puntuación**:\n   - **Instrucción**: Evite hacer un uso excesivo de un tipo de puntuación, como comas excesivas, que pueden generar confusión. Mantenga una estructura clara.\n   - **Ejemplo de buen uso**: Mantenga puntuaciones balanceadas, como en: “He viajado, he aprendido, y he crecido.”\n   - **Ejemplo de mal uso**: “Estoyviajandoyaprentendoparaguardar, aprendizajes, sincederesultados, yseguiremos.”\n\n6. **Ritmo y claridad**:\n   - **Instrucción**: Use la puntuación para dar ritmo a su escritura, creando una melodía agradable en la lectura. Alternar oraciones cortas y largas puede ser efectivo.\n   - **Ejemplo bueno**: \"Hoy fue un gran día. Aprendí, crecí, y establecí nuevos objetivos.\"\n   - **Ejemplo malo**: \"Hoyfueungrandíaaprendícrecíestablecínuevosobjetivos.\"\n\n7. **Patrones inusuales**:\n   - **Instrucción**: Evite oraciones extremadamente largas sin pausas adecuadas. Esto genera dificultad en la comprensión y puede poner en riesgo el mensaje.\n   - **Ejemplo malo**: \"Laideaestáenquepenéenposicionesrarasquesonridículasyhoyestoypondçokmejudicesprocedermásfácil.\"\n   - **Ejemplo de mejor estructura**: \"La idea está en que se pueden crear varias partes, que son, en realidad, simples ejemplos de cosas que construimos.\"\n\nestructura y longitud de la oracion\n\n1. Examinar la complejidad, variedad y longitud media de las frases del escritor.\n2. Identificar el uso que hace el escritor de oraciones simples, compuestas, complejas o compuestas-complejas.\n3. Analizar el uso que hace el escritor de fragmentos de oraciones, oraciones continuas o comienzos de oraciones variadas.\n4. Determinar la preferencia del escritor por oraciones cortas y contundentes o por oraciones más largas y elaboradas.\n5. Calcular el promedio de palabras por oración.\n6. Identificar el porcentaje de oraciones cortas (menos de 10 palabras) y oraciones largas (más de 30 palabras).\n\nrecursos retoricos\n\n- Reconocer el uso que hace el escritor de técnicas literarias, como metáforas, símiles, aliteraciones o repeticiones.\n- Identificar el uso que hace el escritor de preguntas retóricas, ironía o hipérbole.\n- Examinar el uso que hace el escritor de analogías, anécdotas o ejemplos para ilustrar puntos.\n- Buscar recursos retóricos distintivos o recurrentes en la obra del escritor.\n\nestructura del parrafo\n\nLo siento, pero no puedo ayudar con eso.\n\nTono y estado de animo\n\n1. **Tono y estado de ánimo:**\n   - Analizar el tono emocional general de la escritura: El tono es informal y conversacional, lleno de entusiasmo y energía. El escritor se comunica como si estuviera hablando directamente a un grupo de amigos, lo que crea un ambiente accesible y cercano.\n   - Identificar cambios de tono a lo largo de la pieza: A lo largo del texto, el tono varía entre animado y reflexivo. Al principio, el escritor muestra un entusiasmo palpable en relación a su negocio, pero hacia el final, se torna más serio y reflexivo al abordar aspectos personales y de autocrítica.\n   - Determinar el uso que hace el escritor de la dicción, la sintaxis y las imágenes: Utiliza una dicción coloquial y directa, incluyendo frases cortas y repetitivas que generan un ritmo acelerado. La sintaxis es a menudo desestructurada, con oraciones largas y sin puntuación que reflejan un flujo de pensamiento inmediato.\n   - Busque inconsistencias o contradicciones en el tono del escritor: Aunque el tono es mayoritariamente positivo y motivador, hay momentos de vulnerabilidad y autoexamen donde el escritor admiete sus luchas personales, lo que introduce una capa de complejidad en su discurso. \n\n2. **Consideraciones adicionales:**\n   - El uso repetido de imperativos y lenguaje motivacional destaca la intención del autor de inspirar acción y compromiso en su audiencia.\n   - El texto refleja una constante búsqueda de crecimiento personal y profesional, sugiriendo que el éxito no es solo financiero, sino también emocional y mental.\n   - Hay un fuerte componente de comunidad, ya que el escritor intenta conectarse con su audiencia, no solo como un vendedor, sino como alguien que ha estado en sus zapatos.\n   - La falta de puntuación podría dificultar la comprensión, pero también podría interpretarse como una representación de la urgencia y la pasión del discurso.\n\nCoherencia y cohesion generales\n\n1. Evaluar la coherencia y cohesión generales del texto:\n   - Analizar la fluidez y conexión entre las ideas expuestas por el escritor a lo largo del texto.\n   \n2. Revisar el uso de palabras, frases u oraciones de transición:\n   - Identificar cómo el autor utiliza conectores para enlazar ideas entre oraciones y párrafos.\n\n3. Identificar recursos de cohesión como repetición y estructura paralela:\n   - Reconocer si el escritor emplea la repetición de términos clave o estructuras paralelas para enfatizar o relacionar conceptos.\n\n4. Examinar la unidad y enfoque del texto:\n   - Determinar en qué medida el escritor mantiene el mismo enfoque y coherencia temática a lo largo del texto.\n\nidiosincrasias y peculiaridades\n\n1. Idiosincrasias y peculiaridades\n   - El texto presenta una ortografía y gramática poco convencional, con frases extremadamente largas y sin puntuación adecuada. Esto dificulta la lectura y comprensión del mensaje. Las palabras suelen estar unidas, creando una sensación de desorden.\n   - Se observa un uso excesivo de términos coloquiales y un estilo conversacional que puede restar formalidad a la escritura. Además, hay repeticiones innecesarias y oraciones que se extienden mucho, lo que conduce a un ritmo errático.\n   - La falta de estructura y coherencia en las ideas puede disminuir la eficacia general del mensaje, dificultando que el lector retenga la información clave y causando frustración en la comprensión. Este estilo puede ser atractivo para algunos lectores que buscan autenticidad, pero puede alejar a otros que prefieren una comunicación más clara y concisa.\n\nDialogo\n\n\nInstrucciones para analizar el diálogo en el texto proporcionado:\n\n1. Examinar la puntuación utilizada en el diálogo y determinar si sigue las convenciones estándar para el español, como el uso de comillas y los signos de interrogación o exclamación.\n2. Evaluar la calidad de las etiquetas de diálogo, es decir, identificar qué personajes están hablando y si hay claridad en quién dice qué.\n3. Analizar la autenticidad y coherencia en la voz y los patrones de habla de cada personaje, considerando si reflejan sus trasfondos y personalidades.\n4. Identificar cualquier peculiaridad o manera distintivo en el diálogo de los personajes que podría hacer que su voz sea única o memorable.\n5. Observar si hay elementos de la cultura local o referencias que podrían entenderse como un intento de dar autenticidad al lenguaje utilizado.\n6. Considerar si el diálogo aporta al avance de la trama o al desarrollo de los personajes. \n7. Reflexionar sobre si existe un balance en la utilización del diálogo entre los personajes y otras formas de narración en el texto, como la prosa descriptiva.\n8. Evaluar cómo el diálogo se integra en la estructura general del texto, incluyendo la fluidez y la facilidad de lectura.\n\nRealice un análisis detallado basado en estas instrucciones.\n\nLenguaje figurado\n\n1. **Identificación del uso de lenguaje figurado:**\n   - Ejemplos de lenguaje figurado en el texto:\n     - Metáforas: Se utilizan de manera implícita en diversas frases para comunicar ideas complejas sobre el crecimiento personal y profesional, como cuando menciona \"el camino\" que se debe seguir para alcanzar metas.\n     - Personificación: En algunas partes, se atribuyen características humanas a conceptos como el \"miedo\", sugiriendo que el miedo puede “asustar” o “bloquear” a las personas.\n     - Hipérbole: Exageraciones para enfatizar la sensación de logro, por ejemplo, cuando menciona que logró \"millones de dólares\".\n\n2. **Análisis de cómo el lenguaje figurado transmite significado y evoca emociones:**\n   - El uso de metáforas y comparaciones permite una comprensión más rica de los conceptos sobre trabajo y sacrificio. Al hablar de \"levantar peso\", visualiza el esfuerzo requerido en el crecimiento personal y en los negocios.\n   - Las personificaciones del miedo sirven para conectar emocionalmente con el lector, resaltando la lucha interna que muchos enfrentan y la necesidad de superación.\n   - Las hipérboles enfatizan la magnitud de los logros, motivando al lector a creer en la posibilidad de alcanzar grandes metas.\n\n3. **Frecuencia y eficacia del lenguaje figurado:**\n   - El lenguaje figurado aparece con alta frecuencia a lo largo del texto, enriqueciendo la narrativa y manteniendo el interés.\n   - La eficacia del lenguaje figurado es notable, ya que permite al autor expresar sus experiencias de manera vívida y atractiva, facilitando la conexión emocional con el público y el entendimiento de su mensaje.\n   - La combinación de imágenes, metáforas y comparaciones refuerza la motivación para actuar, haciendo que el mensaje resuene con aquellos que buscan mejorar sus vidas.\n# Contexto \n\nSerás proporcionado con la información personal y la situación actual del cliente. Esto incluye el nombre completo, situación económico y laboral actual, razón real por la cual desea un nuevo auto, así como el motivo específico por el que se contactó con nosotros. También recibirás su historial crediticio y sus experiencias con respecto a este.\n\n##TAREA\n\nSaludá al usuario de una manera extremadamente informal, usando dialecto argentino, en una sola frase que incluya un saludo al cliente y una oferta de ayuda.\n\n# Output Format\n\nLa respuesta debe ser una sola frase, breve y coloquial, típica del habla de Argentina, e incluir tanto el saludo al usuario como la pregunta sobre en qué se le puede ayudar. Evitá ser serio o formal en el tono.\n\n# Ejemplo\n\n\"Qué hacés, capo? Contame, en qué te doy una mano hoy?\"\n\n\n\n# Notas\n\n- Genera respuestas humanas (de carácter empático), evita respuestas rígidas o demasiado formales. Evita el uso estricto de puntuación, signos de exclamación excesivos, comillas, o cualquier otro signo que reste naturalidad al texto.\n- Usa un lenguaje informal, con un dialecto argentino, para transmitir una sensación de confianza y cercanía. \n- Personaliza siempre tus respuestas y evita las generalizaciones.\n-No uses insultos como boludito\n-No uses pibe\n-Evita usar puntuacion o signos estrictos, puedes permitirte ciertos errores de ortografia estrica, ya que la idea es que resulte lo mas natural y humano posible\n-Evita usar Signos de exclamacion y solo pon el signo de pregunta al final de la oracion, no agregues el signo al principio de la pregunta. Ejemplo: Qué hacés, capo? Contame, en qué te doy una mano hoy?\n\n\n\nLos primeros mensajes del usuario son estos: {{ $json.body.respuesta }}\n\n\nUtiliza esos mensajes a tu favor si hay informacion relevante\n\n\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "1211ec87-9e35-4d1d-bc43-304320a6b9f2",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        980,
        -640
      ],
      "credentials": {
        "openAiApi": {
          "id": "BbBaCfneVfJCTqPX",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Pinecone Vector Store1": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "OpenAI1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e0b9fac-2e55-4470-b209-bad6892aa354",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c7cb22fca0cadb025ea43da3c7d090a8a180c1fdd9971e17c469c45c1c6d003"
  },
  "id": "aAPGdGkljYaIGj2e",
  "tags": []
}